@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */
.main-header {
  background-color: #FFFFFF;
  color: #000000;
}

/* Навигация */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 550px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  max-width: 310px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

/* удалить после добавления SVG */
.navigation-user .navigation-item:not(:last-child) {
  outline: #000000 solid 3px;
}

.navigation-link {
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.navigation-logo {
  z-index: 1;
  margin: 0 47px -5px 0;
}

.logo {
  z-index: 1;
  display: block;
}

/* Все кнопки */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 15px;
}

.button.navigation-link {
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 14px;
  padding: 9px 15px;
  background-color: #756157;
}

/* Основное содержание страницы */
.main-index {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.main-inner-container {
  padding: 35px 70px 70px;
}

.inner-header-title {
  margin: 0;
}

/* Настройка фильтра */
.filter-container {
  display: flex;
}

.hotels-filter {
  margin-top: 40px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  padding: 0;
}

/* Инфраструктура */
.infrastructure-filter-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.infrastructure-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.infrastructure-filter-item {
  margin-top: 15px;
}

.control-input {
  margin: 0;
  margin-right: 19px;
}

/* Тип Жилья */
.hotel-type-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-type-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.hotel-type-filter-item {
  margin-top: 15px;
}

/* поле с ценой */
.cost {
  width: 288px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.submit-discard-buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: flex-end;
}

.submit-discard-buttons .button {
  width: 160px;
}

.welcome-part {
  color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 52px;
  padding-bottom: 83px;
}

.sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
}

.five-reasons {
  margin: 0;
  margin-top: 90px;
  font-size: 22px;
  line-height: 26px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  padding: 62px 72px 56px;
}

.sorting-container {
  display: flex;
}

/* Оставить для редактирования в GRID */
.list-of-hotels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 0;
  padding: 20px;
  list-style-type: none;
  outline: 3px lightgreen solid;
}

/* Преимущества */
.advantages {
  margin-top: 63px;
}

.advantages-title {
  margin: 0;
  margin-top: 92px;
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
  width: 230px;
}

.advantages-list {
  margin: 0;
  margin-top: 90px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.item-without-image {
  min-height: 384px;
}

.item-with-image {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 1200px;
}

.container-with-image {
  display: flex;
}

.container-with-description {
  display: flex;
  flex-direction: column;
  padding: 0 85px;
}

.aditional-advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #FFFFFF;
  list-style-type: none;
}

/* Требуется прозрачность согласно макету. */
.aditional-advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aditional-advantages-description {
  width: 230px;
  margin: 0;
  margin-top: 30px;
}

.aditional-advantages-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(n+2):nth-child(2n+1) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(n+3) {
  background: rgba(131, 179, 211, 0.2);
}

/* Переход на страницу поиска гостиниц в Седоне */
.hotel-search-question {
  margin: 0;
  margin-top: 91px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-words {
  margin: 0 auto;
  margin-top: 29px;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
}

.button-hotel {
  margin: 56px auto 0;
  padding: 12px;
  display: block;
  width: 574px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  text-decoration: none;
}

/* Поле подписки */
.newsletter {
  margin-top: 93px;
  background-color: #82B3D3;
  color: #FFFFFF;
  background-image: url("../images/subscribe-backgrund.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0;
  padding-top: 94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-words {
  margin: 29px auto 0;
  font-size: 22px;
  line-height: 26px;
  width: 476px;
}

.newsletter-form {
  margin-top: 46px;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}

.field {
  padding: 20px 491px 19px 22px;
  border: none;
  background-color: #F2F2F2;
  ;
}

.newsletter-button {
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 200px;
}

.newsletter-without-backgorund {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Пагинация */
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 96px 72px 0;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item:not(:last-child) {
  padding-right: 8px;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 12px 24px;
  display: block;
}

/* Текущая страница */
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* Гостиниц на странице */
.number-of-hottels {
  color: #333333;
}

.select-number-of-hotels {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 160px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.number-of-hottels {
  margin-right: 51px;
}

/* Футер */
.main-footer {
  padding: 40px 70px 30px;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.footer-social-item {
  min-width: 18px;
  min-height: 14px;
  /* временный бэкграунд до момента вставки SVG */
  background-color: #82B3D3;
}

.footer-social-item:not(:last-child) {
  margin-right: 27px;
}

.footer-number-link {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

/* Далее идет страница с каталогом гостниц */

/* Фильтр */
.inner-header {
  background-color: #F2F2F2;
  color: #FFFFFF;
  background-image: url("../images/breadcrumbs/filter-backgrund.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* Хлебные крошки */
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

/* Убрать после добавления SVG */
.breadcrumbs-item:not(:last-child) {
  min-width: 12px;
  outline: #FFFFFF solid 1px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

/* Настройки инфраструктуры и типа жилья */
.control {
  font-size: 18px;
  line-height: 21px;
}

/* Конопка сброса настроек фильтра */
/* Кнопка сброса без padding, защита от случайного нажатия */
.discard-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  background-color: transparent;
  padding: 0;
  margin-top: 20px;
}

/* Сортировка гостиниц */
.sorting {
  background-color: #FFFFFF;
  color: #000000;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

/* редактировать после добавления SVG */
.sorting-button {
  border: 2px solid #000000;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.sorting-button:not(:last-child) {
  margin-right: 8px;
}

/* Селектор для сортировки по ценнику */
.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 280px;
  padding: 14px 20px;
  margin-right: 78px;
}

/* Карточки отелей */
.all-hotels {
  background-color: #FFFFFF;
  color: #000000;
  padding: 0 72px;
}

.hotel-card {
  outline: 3px solid salmon;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.type-and-price-of-hotel {
  font-size: 18px;
  line-height: 21px;
}

/* Кнопка "Подробнее" */
.button-more-detailed {
  background-color: #756157;
}

/* Число рейтинга отеля*/
.rating-section {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
}

.selected-favorite-button {
  background-color: #7DB54F;
}
